%tpl-wrap {
	width: 100%;
	max-width: 1212px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px 0px 15px;
	text-decoration: none;
	box-sizing: border-box;
}

.wrap-footer {
	@extend %tpl-wrap;

	@media (max-width: 1212px) {
		width: 970px;
	}

	@media (max-width: 992px) {
		width: 750px;
	}

	@media (max-width: 767px) {
		width: none;
	}
}

.footer {
	background-color: #f7f7f7;
	padding: 20px 0px 20px 0px;
}

.social {
	display: flex;
	list-style-type: none;
	padding: 0px 0px 0px 0px;

	li {
		margin: 0px 0px 0px 40px;

		a {
			text-decoration: none;
			color: #b2b2b2;
			font-size: 24px;
		}
	}
}